h1 {
    color: green;
    font-size: 70px;
    text-align: center;
    font-family: "Sigmar One", cursive;
}

h2 {
    color: blue;
    font-size: 25px;
    text-align: center;
    font-family: "Permanent Marker", cursive;
}

#game-screen {
    background-color: yellow;
    height: 500px;
    width: 500px;
    margin: auto;
    text-align: center;
    line-height: 500px;
    font-family: "Nosifer", cursive;
    color: red;
    font-size: 50px;
}