body {
    background-image: url(sand.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color: green;
    font-size: 70px;
    text-align: center;
    font-family: "Sigmar One", cursive;
}

h2 {
    color: black;
    font-size: 25px;
    text-align: center;
    font-family: "Permanent Marker", cursive;
}

#game-screen {
    background-color: yellow;
    height: 500px;
    width: 500px;
    margin: auto;
    text-align: center;
    line-height: 630px;
    font-family: "Nosifer", cursive;
    color: red;
    font-size: 50px;
    background-image: url("waving-cactus.jpeg");
    background-size: 75% 75%;
    background-repeat: no-repeat;
    background-position: center;
}

.btn {
    background-color: black;
    color:white;
    font-family: "Sigmar One", cursive;
    font-size: 20px;
    text-align: center;
}

.buttons {
    text-align: center;
}
